---
layout: default
---

<div class="section-thesis">
	<h1>News & Events</h1>
</div>


<div class="container push_bottom">

<section class="news-grid">

 {% for post in site.categories.news limit:30 %}

			<article class="news-panel_wrap">
				<div class="news-panel">
					{% assign post = article %}

					<div class="media" style="background-image:url('{{ site.baseurl }}/public/images/{{ post.post_smallimg }}');"></div>

					<div class="content">
						{% if post.event_date %}
							<span class="time">Date of event: {{ post.event_date }}</span>
						{% endif %}
						<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
						<p>{{ post.excerpt | strip_html | truncatewords:20 }}</p>
					</div>

					<div class="meta">
						<a href="{{ site.baseurl }}{{ post.url }}" class="read">Read</a>
					</div>
				</div>
			</article>

	    {% endfor %}

</section>

</div>